
Theme Name: LineTime
Author: DJMiMi
Theme URI: http://themeforest.net/user/DJMiMi
Author URI: http://themeforest.net/user/DJMiMi
License: GPL 2.0
License URI: license.txt
Description:  Clean and powerfull timeline bloggig theme
Version: 1.0
Tags: light
*/


/***********************************
TABLE OF CONTENTS:

1. OVERALL STYLING
2. TABLES
3. BUTTONS
4. FILTER TITLE
5. BLOG ITEM
6. SINGLE BLOG
7. RESPONSIVE SLIDES
8. NAVIGATION
9. POST FORMAT ICONS
10. WORDPRESS CORE
11. COMMENTS
12. WIDGETS
13. SUBMIT FORMS
14. SINGLE POST SHARE
15. ABOUT AUTHOR
16. NEXT PREV POSTS
17. VIDEO CONTAINER
18. PAGINATION
19. GALLERY
20. HORIZONTAL TABS
21. ALERTS
22. PROGRESS BARS
23. DROPCAP
24. PRELOADER
25. 404 PAGE
26. CAROUSEL DOTS
27. SEARCH OVERLAY
28. FEATURED SLIDER
29. COPYRIGHTS
30. INSTAGRAM
31.	Client Edit

*************************************/

/* 1. OVERALL STYLING */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	color: #404040;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	background-color: #f7f7f7;
	overflow-x: hidden;
}

p{
	margin-bottom: 15px;
}

a, a:visited{
	color: #454545;
}

a:hover, a:focus, a:active{
	outline: 0;
	color: #aaaaaa;
	text-decoration: none;
}

a, 
img, 
.animation, 
.blog-title h4, 
.blog-title h5, 
.owl-nav div,
.nav-tabs>li>a:after{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;	
}

img{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
}

iframe{
	border: none;
	display: block;
}

.blog-media video,
.featured-image video{
	object-fit: cover;
}

.break-word{
	word-break: break-all;
}

select{
	max-width: 100%;
	padding: 2px 5px 0px 5px;
}

h1, h2, h3, h4, h5, h6{	
	margin: 10px 0px;
	font-weight: 700;
	line-height: 1.25;
	color: #333;
	letter-spacing: 3px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
	font-size: 14px;
}

h6 {
    font-size: 12px;
}

blockquote{
	font-size: 20px;
	font-style: italic;
	border: none;
	padding-left: 20px;
	margin-bottom: 20px;
}

cite{
	margin-top: 15px;
	font-size: 16px;
	font-style: normal;
	text-align: right;
	display: block;
}

section{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

dl dd{
	margin-left:5px;
	margin-bottom: 10px;
}

/* END OVERALL STYLING */

/* 2. TABLES */
table{
	width: 100%;
	border: 1px solid #eeeeee;
	margin: 15px 0px;
}

hr{
	border-color: #aaa;
}

table th{
	text-align: center;
	background: #f8f8f8;
	padding: 5px;
}

table td{
	border: 1px solid #eeeeee;
	text-align: center;
	padding: 5px;
}

.logo{
	text-align: center;
	margin-top: 50px;
}

.logo img{
	display: inline-block;
}
/* END TABLES */

/* 3. BUTTONS */
.tagcloud a, .btn, a.btn{
	word-break: break-all;
	padding: 6px 12px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: transparent;
	color: #404040;
	display: inline-block;
	white-space: normal;
	border: 1px solid #DA9D67;
}

.tagcloud a:hover, .tagcloud a:focus, .tagcloud a:active,
.btn:hover, .btn:focus, .btn:active{
	background: #DA9D67;
	border-color: #DA9D67;
	color: #ffffff;
}

.btn i{
	margin-right: 5px;
}

.btn.medium{
	padding: 10px 20px;
}

.btn.large{
	padding: 15px 30px;
}

.tagcloud a{
	padding: 2px 4px;
	margin: 2px;
	float: left;
}

.label{
	border-radius: 0px;
	padding: 2px 4px;
}

/* END BUTTON */

/* 4. FILTER TITLE */
.filter-title{
	text-align: center;
	margin: 50px 0px;
	padding: 20px 0px;
	background: #ffffff;
}

.filter-title-single{
	text-align: center;
}

.filter-title-single .filter-title{
	margin-bottom: 10px;
}

.filter-title-single ul{
	margin-bottom: 50px;
}
/* END FILTER TITLE*/

/* 5. BLOG ITEM */
.timeline{
	position: relative;
	padding-bottom: 50px;
	margin: 50px 0px;
	margin-bottom: 70px;
}

.timeline:before{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #f7ba13;
	content: "";
}

@media only screen and ( max-width: 600px ){
	.timeline:before{
		left: 0;
	}
}

.load-more{
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	width: 30px;
	height: 30px;
	line-height: 27px;
	font-size: 15px;
	border: 2px solid #DA9D67;
	border-radius: 50%;
	text-align: center;
}

@media only screen and ( max-width: 600px ){
	.load-more{
		left: 0;
	}
}

.load-more:hover{
	background: #DA9D67;
	color: #ffffff;
}

.blog-item{
	width: 50%;
	margin-top: 50px;
	padding: 0px 25px;
	position: relative;
}

@media only screen and ( max-width: 600px ){
	.blog-item{
		width: 100%;
	}
}

.blog-item:hover .blog-item-wrapper{
	box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.12);
}

.blog-item:after{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;		
	position: absolute;
	top: 15px;
	width: 20px;
	height: 20px;
	border: 6px solid #f8f8f8;
	border-radius: 50%;
	background: #ddd;
	content: "";	
}

.blog-item:hover:after{
	background: #f7ba13;
}

.category-list{
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
}

.category-list:after{
	content: '';
	width: 20px;
	border-bottom: 1px solid #f7ba13;
	position: absolute;
	left: calc(50% - 1px);
	bottom: 0px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

.category-list a, .category-list a:visited{
	color: #f7ba13;
	font-weight: bold;
}

.left-line{
	float: left;
	clear: left;
}

@media only screen and ( min-width: 600px ){
	.left-line{
		padding-left: 0px;
	}
}

@media only screen and ( max-width: 600px ){
	.left-line{
		padding-left: auto;
		padding-right: 0px;
	}
}

.left-line:after{
	right: -10px;
}

@media only screen and ( max-width: 600px ){
	.left-line:after{
		right: auto;
		left: -10px;
	}
}

.timeline .blog-item:first-child{
	margin-top: 0px;
}


.right-line{
	float: right;
	clear: right;
	padding-right: 0px;
}

.right-line:after{
	left: -10px;
}

.blog-title{
	display: inline-block;
	margin: 15px 0px;
}

.blog-title h4, .blog-title h5{
	margin: 0px;
	display: inline-block;
}

@media only screen and ( max-width: 500px ){
	.blog-title h4, .blog-title h5{
		word-break: break-all;
	}
}

.blog-title:hover h4, .blog-title:hover h5{
	color: #aaaaaa;
}

.blog-item-content{
	width: 100%;
	padding: 20px;
	background: #ffffff;
}

.blog-media{
	overflow: hidden;
	position: relative;
}

.blog-media img{
	width: 100%;
	height: auto;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;		
}

.blog-media:hover img{
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.blog-media{
	position: relative;
}

.blog-media:before{	
	content: "\f0d8";
	font-family: FontAwesome;
	position: absolute;
	z-index: 10;
	color: #ffffff;
	font-size: 80px;
	top: auto;
	right: auto;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);	
}

.right-line .blog-item-content:after,
.left-line .blog-item-content:after{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;		
	position: absolute;
	content: "-";
	color: #dddddd;
	top: 12px;
	z-index: -1;
	font-size: 28px;	
}


.blog-item:hover .blog-item-content:after{
	color: #DA9D67;
}

.left-line .blog-item-content:after{
	right: 10px;
}

.right-line .blog-item-content:after{
	left: 10px;	
}

@media only screen and ( max-width: 600px ){
	.left-line .blog-item-content:after{
		left: 10px;
	}
}

.blog-meta{
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	opacity: 0.5;
	border-top: 1px solid #aaaaaa;
	padding-top: 20px;
	margin-bottom: 0px;
}

.blog-meta i{
	margin-right: 10px;
}

.blog-meta li{
	width: 33%;
	float: left;
}

.blog-meta li:not(:last-child){
	border-right: 1px solid #aaaaaa;
}

@media only screen and ( max-width: 450px ){
	.blog-meta li,
	body .single-blog .blog-meta li{
		width: 100%;
		float: none;
		text-align: left;
		margin: 5px 0px;
		border: none;
	}
	.blog-meta li:not(:last-child){
		border: none;
	}
}

.read-more{
	border: 1px solid #DA9D67;
	border-radius: 40px;
	padding: 5px 30px;
	display: inline-block;
	position: relative;
	margin: 15px 0px;
	font-size: 12px;
}

.read-more i{
	opacity: 0;
	position: absolute;
	right: 30px;
	top: 50%;
	color: #ffffff;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.read-more:hover i{
	opacity: 1;
	right: 10px;
}

.read-more:hover{
	color: #ffffff;
	background: #DA9D67;
}
/* END BLOG ITEM */
 
/* 6. SINGLE BLOG */

.single-blog{
	margin: 50px 0px;
}


.margin-bottom{
	margin-bottom: 50px;
}

.single-blog .blog-item-content{
	padding: 30px;
}

.single-blog .blog-meta{
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.single-blog .blog-meta li{
	width: 20%;
}

.single-blog .blog-item-content img{
	padding: 5px;
	border: 1px solid #ccc
}

.post-title.page{
	margin: 0px 0px 20px 0px;
}

.post-title{
	text-align: center;
	margin: 20px 0px 5px 0px;
}

.post-subtitle{
	margin-bottom: 25px;
	font-style: italic;
	letter-spacing: 2px;
	opacity: 0.6;
	font-size: 12px;
	text-align: center;
}

.next-prev p{
	margin: 0px;
}

.post-tags a:before{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;		
	content: "\f0d9";
	font-family: FontAwesome;
	float: left;
	position: absolute;
	top: 1px;
	left: -14px;
	width: 0px;
	height: 0px;
	color: #404040;
	font-size: 43px;
	line-height: 24px;
}

.post-tags a:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 0px;
	float: left;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background: #FFF;
}

.post-tags a{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 12px;
	margin-right: 10px;
	padding: 0px 10px 0px 12px;
	background: #404040;
	color: #FFF;
	text-decoration: none;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;	
	float: left;
	height: 25px;
	line-height: 23px;
	position: relative;
	font-size: 12px;
}

.post-tags a:hover{
	background: #DA9D67;
}
.post-tags a:hover:before{
	color: #DA9D67;
}

/* END SINGLE BLOG */

/* 7. RESPONSIVE SLIDES */
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
}

.rslides li img{
	width: 100%;
	height: 100%;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides_nav{
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
	opacity: 1;
	background: transparent;
	position: absolute;
	border: 1px solid #ffffff;
	border-bottom: 4px double #ffffff;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	z-index: 10;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	width: 30px;
	height: 30px;
	line-height: 25px;
	text-align: center;
}

.rslides_nav.prev{
	left: 15px;
}

.rslides_nav.next{
	right: 15px;
}

.rslides_nav .fa{
	color: #ffffff;
}
/* END RESPONSIVE SLIDES */

/*  8. NAVIGATION */
.navigation-bar{
	border-right: none;	
	background: #ffffff;
	padding: 0px;
}

.sticky_nav{
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
	display: none;
	padding: 0px;
}
#navigation .dropdown-menu{
	margin:0px;	
	border-bottom: none;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.12);
	top: 100%;
}

.nav.navbar-nav > li > .dropdown{
	margin-top: 1px;
}

.navbar li.dropdown ul li.dropdown ul{
	left: 100%;
	top: 0px;
}

.nav.navbar-nav ul li a{
	padding: 10px;
	position: relative;
}

.navbar li{
	margin-bottom: 0px;
}

.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	background: transparent;	
	min-height: 0px;
}

.navbar-collapse{
	padding: 0px;
	border: none;
}

.nav.navbar-nav{
	margin: 0px;
	width: 100%;
}

.navbar-default .navbar-collapse{
	text-align: center;
}

.nav.navbar-nav > li > a{
	padding: 10px 5px;
}

.nav.navbar-nav li a{
	font-size: 11px;
	color: #404040;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: #404040;
}

.nav.navbar-nav > li{
	margin: 0px 3px;
}

.nav.navbar-nav > li li{
	border-bottom: 1px solid #eeeeee;
}

#navigation .nav.navbar-nav > li > a{
	background: transparent;
}

@media only screen and ( min-width: 768px ){
	#navigation .nav.navbar-nav > li:first-child > a{
		padding-left: 0px;
	}
}

#navigation .nav.navbar-nav li.open > a,
#navigation .nav.navbar-nav li > a:hover,
#navigation .nav.navbar-nav li > a:focus ,
#navigation .nav.navbar-nav li > a:active,
#navigation .nav.navbar-nav li.current > a,
#navigation .navbar-nav li.current-menu-parent > a, 
#navigation .navbar-nav li.current-menu-ancestor > a, 
#navigation .navbar-nav li.current-menu-item  > a{
	color: #aaaaaa;
	background: transparent;
}

.nav.navbar-nav ul{
	padding: 0px;
	border-radius: 0px;
	border: none;
}

.navbar-toggle{
	color: #404040;
	line-height: 15px;
	float: none;
	vertical-align: middle;
	margin-right: 0px;
}

#navigation{
	text-align: center;
}

.navbar-nav > li > a{
	line-height: 20px;
}

@media only screen and (max-width: 768px) {
	.nav.navbar-nav li.pull-right{
		display: none;
	}
	.nav.navbar-nav{
		margin-left: 0px;
		margin-right: 0px;
	}
	#navigation .navbar-nav li a{
		text-align: center;
		display: block;
	}
	#navigation .dropdown-menu{
		box-shadow: none;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		background: #ffffff;
	}
	#navigation .dropdown-menu{
		border: none;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:active
	.navbar-default .navbar-nav .open .dropdown-menu > li.current > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li.current-menu-ancestor > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li.current-menu-item > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li.current-menu-parent > a{
		color: #aaaaaa;
		background: #ffffff;
	}
	
	.nav.navbar-nav{
		display: block;
	}

	.navbar-nav .open .dropdown-menu > li > a{
		color: #676767;
		padding: 10px 15px;
	}
	
	.nav.navbar-nav > li > a{
		line-height: 20px;
	}
}
/* END NAVIGAION */


/* 9. POST FORMAT ICONS */
.fake-thumb-wrap{
    position: absolute;
    text-align:center;
    margin: 0;
    top: 50%;
    left: 30px;
	width: 60px;
	border: 1px solid #eeeeee;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
}

.post-format{
	font-size: 25px;
	line-height: 59px;
	font-family: dashicons;
}

.post-format-standard:before{	
	content: '\f109';
}

.post-format-aside:before{	
	content: '\f123';
}

.post-format-gallery:before{	
	content: '\f161';
}

.post-format-link:before{	
	content: '\f103';
}

.post-format-image:before{	
	content: '\f128';
}

.post-format-quote:before{	
	content: '\f122';
}

.post-format-status:before{	
	content: '\f130';
}

.post-format-video:before{	
	content: '\f126';
}

.post-format-audio:before{	
	content: '\f127';
}

.post-format-chat:before{	
	content: '\f125';
}

.fake-thumb-holder .post-format{
	color: #aaaaaa;
	font-size: 20px;
	line-height: 10px;
}

.to_top.btn{
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 30px;
	height: 30px;
	display: none;
	z-index: 3;
	padding: 5px;
	text-align: center;
	-webkit-transform:;
}

.to_top.btn .fa{
	font-size: 20px;
	line-height: 20px;
}


/* 10. WORDPRESS CORE*/
.featured-image{
	margin-bottom: 50px;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.sticky{}
.wp-caption-text{}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    max-width: 100%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}
/* END WORDPRESS CORE */

/* 11. COMMENTS */
#disqus_thread{
	background: #ffffff;
	padding: 30px;
	margin: 50px 0px;
}

.leave-comment p.form-submit{
	margin-bottom: 0px;
}

.comments-wrap .comments{
	margin-top: 25px;
}

.comment-reply-link{
	float: right;
	color: #717171;
}

.comment-reply-link:hover{
	color: #aaaaaa;
}

.comment-border{
	width: 100%;
	border-bottom: 1px solid #eeeeee;
	margin: 30px 0px;
}

.comment-margin-left{
	margin-left: 35px;
}

.comment-avatar img{
	float: left;
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 15px;
	width: 50px;
	height: 50px;
}


.comment-content-wrap{
	display: inline-block;
	width: calc(100% - 65px);
	margin-left: 65px;
}

@media only screen and (max-width: 600px){
	.comment-name{
		margin-top: 20px;
	}

	.comment-margin-left{
		margin-left: 0px;
	}

	.comment-content-wrap{
		float: none;
		display: block;
		margin: 0px;
	}

	.comment-content-wrap{
		width: 100%;
	}
}

.comment-name .grey{
	font-size: 85%;
	color: #aaa;
	margin: 0px;
}

.comment-name p{
	margin: 0px;
	margin-top: 3px;
}


.comment-form{
	margin-top: 30px;
}

.contact-form{
	margin-top: 30px;
	margin-bottom: 0px;
}

.contact-form .form-submit, .contact-form .alert{
	margin-bottom: 0px;
}

.contact-form .alert{
	margin-top: 15px;
}

.form-control, .form-control:focus, .form-control:active, .form-control:focus:active{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: none;
	background: #f8f8f8;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #505050;	
	min-height: 35px;
	border: 1px solid #eeeeee;
}

.form-control::-webkit-input-placeholder {
   opacity: 0.5;
   font-style: italic;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   opacity: 0.5;
   font-style: italic;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   opacity: 0.5;
   font-style: italic;
}

.form-control:-ms-input-placeholder {
   opacity: 0.5;
   font-style: italic;
}

.has-feedback textarea.form-control, .has-feedback textarea.form-control:focus, .has-feedback textarea.form-control:active, .has-feedback textarea.form-control:focus:active{
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.form-submit #submit{
	border: none;
	background: transparent;
	color: #404040;
	border: 1px solid #DA9D67;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin-top: 10px;
	padding: 6px 12px;
	transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	text-transform: uppercase;
	font-size: 12px;
}

.form-submit #submit:hover, .form-submit #submit:focus, .form-submit #submit:active{
	background: #DA9D67;
	color: #ffffff;
}

.comment-row{
	margin-bottom: 20px;
}

.comment-row:hover img{
	opacity: 0.8;
}

#reply-title{
	font-size: 14px;
	font-weight: normal;
	color: #717171;
}

#reply-title small{
	font-size: 14px;
}

/* COMMENTS */


/* 12. WIDGETS */
.top-authors .grey{
	color: #aaaaaa;
	font-size: 85%;
}

.top-authors a{
	margin-top: 5px;
}

.single-blog .widget.blog-item-content{
	padding: 20px;
}

.widget_custom_posts .post-meta.grey{
	font-size: 85%;
	color: #aaa;
}

.widget_custom_posts .post-meta.grey i{
	margin-right: 5px;
}

.widget{
	margin-bottom: 50px;
}

.widget-right .widget{
	padding: 0px 0px 0px 15px;
}

.widget-left .widget{
	padding: 0px 15px 0px 0px;
}

@media only screen and ( max-width: 768px ){
	.widget-left .widget, .widget-right .widget{
		padding: 0px;
	}
}

.widget ul{
	padding: 0px;	
	margin: 0px;
}

.widget > ul{
	overflow: hidden;
}

.widget ul li{
	list-style: none;
	clear: both;
	padding: 5px 0px;
}

.widget ul li:last-child{
	padding-bottom: 0px;
}

.widget_linetime_recent_comments ul li, 
.widget_custom_posts ul li,
.widget_widget_top_author ul li{
	padding: 10px 0px;
}

.widget_linetime_recent_comments a{
	margin-top: 5px;
}

.widget_linetime_recent_comments p{
	margin-bottom: 5px;
	margin-top: 7px;
}

.widget_linetime_recent_comments p.small{
	margin: 0px;
	color: #aaa;
	font-size: 85%;
	line-height: 1.2;
}

.widget_linetime_recent_comments p.small i{
	margin-right: 5px;
}

.widget ul li:hover img{
	opacity: 0.8;
}

.widget ul li a{
	display: block;
}

.widget_recent_comments ul li a{
	display: inline-block;
}

.widget_categories li,
.widget_archive li{
	text-align: right;
}

.widget_archive li a:before,
.widget_categories li a:before,
.widget_pages li a:before,
.widget_nav_menu li a:before,
.widget_meta li a:before{
	content: "\f101";
	font-family: FontAwesome;
	margin-right: 5px;
	font-size: 12px;
}

.widget_categories li a,
.widget_archive li a{
	float: left;
}

.widget_archive li:hover > a,
.widget_categories li:hover > a,
.widget_pages li:hover > a,
.widget_nav_menu li:hover > a,
.widget_meta li:hover > a{
	margin-left: 5px;
}

.widget ul li ul{
	padding-left: 10px;
}
.widget-title-wrap{
	display: block;
	text-align: left;
	margin-bottom: 15px;
	position: relative;
	text-align: center;
}

.widget-title-wrap:after{
	content: '';
	border-bottom: 4px double #eeeeee;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	z-index: 0;
}

.widget-title{
	margin: 0px;
	position: relative;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 0px 10px;
	border: 1px solid #eeeeee;
	font-size: 12px;
	background: #ffffff;
	z-index: 1;
	display: inline-block;
}

.widget-image-thumb{
	display: inline-block;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

.widget-image-thumb img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.widget-text{
	display: inline-block;
	float: left;
	width: calc(100% - 70px);
}

.widget-text .post-meta li{
	margin-right: 10px;
}


.widget_custom_posts ul li ul, .widget_custom_posts ul li ul li{
	margin: 0px;
	padding: 0px;
}
.widget_custom_posts .list-unstyled li{
	position: relative;
	clear: both;
}

.widget_widget_social .btn{
	margin-left: 2px;
	margin-bottom: 2px;
	width: 32px;
	height: 32px;
	padding: 0px;
	text-align: center;
	line-height: 31px;
}

.widget img{
	max-width: 100%;
}
#wp-calendar caption{
	margin-bottom: 15px;
}
/* END WIDGETS */


/* 13. SUBMIT FORMS */
.linetime-form{
	width: 100%;
	display: block;
	position: relative;
}

.linetime-form .btn{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	line-height: 20px;
	width: 40px;
	text-align: center;
	border: 1px solid #eeeeee;
}

.no-margin{
	margin: 0px;
}

.linetime-form .btn i, .btn i{
	margin: 0px;
}

.sub_result{
	margin-top: 15px;
}

.alert{
	padding: 10px 15px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.alert-danger, .alert-success{
	color: #ffffff;
	border: none;
}

.alert-success{
	background: #6BA72B;
}

.alert-danger{
	background: #e74c3c;
}
/* END SUBMIT FORMS */

/* 14. SINGLE POST SHARE */
.post-share{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.single-blog .post-share{
	padding-top: 0px;
	border: none;
	text-align: center;
}

.single-blog .post-share a{
	width: 45px;
	height: 35px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #DA9D67;
	transform: skewX(-20deg);
	-m-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	float: none;
	margin-right: 15px;
}

.single-blog .post-share a .fa{
	line-height: 25px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;	
	transform: skewX(20deg);
	-m-transform: skewX(20deg);
	-moz-transform: skewX(20deg);
	-webkit-transform: skewX(20deg);	
}

.share, .share:active, .share:visited{
	display: inline-block;
	text-align: center;
}

.share {
  position: relative;
  width: 25px; 
  height: 25px;
}

.share, .share:visited{
	font-size: 13px;
	color: #404040;
}

.share:hover .fa{
	transform: scale(1.5);
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
}

@media only screen and (max-width: 768px){
	.post-share{
		text-align: center;
	}	
}

.single-blog .post-share a.facebook:hover{
	color: #3b5998;
}

.single-blog .post-share a.twitter:hover{
	color: #00aced;
}

.single-blog .post-share a.google:hover{
	color: #dd4b39;
}

.single-blog .post-share a.linkedin:hover{
	color: #007bb6;
}

.single-blog .post-share a.tumblr:hover{
	color: #32506d;
}
/* END SINGLE POST SHARE */

/* 15. ABOUT AUTHOR */
.author-info{
	text-align: center;
}

.author-info img{
	width: 150px;
	display: inline-block;
	margin-bottom: 20px;
}
/* END ABOUT AUTHOR */

/* 16. NEXT PREV POSTS */
.right-text, .left-text{
	margin: 10px 0px;
}

.left-text{
	text-align: left;
}
.left-text a{
	text-align: left;
}
.right-text{
	text-align: right;
}
.right-text a{
	text-align: left;
}

.next-prev{
	margin: 30px 0px;
}

.next-prev div[class^="col-sm-"]{
	padding: 0px;
}

@media only screen and (max-width: 768px) {
	.next-prev .btn{
		width: 100%;
	}
	.right-text{
		text-align: center;
		padding-bottom: 20px;
	}
	.left-text{
		text-align: center;
		padding-bottom: 20px;
	}
}

.prev-post i{
	margin-right: 5px;
}

.next-post i{
	margin-left: 5px;
}
/* END NEXT PREV POSTS */


/* 17. VIDEO CONTAINER */
 .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container blockquote, .video-container embed {
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
/* END VIDEO CONTAINER */

.bypostauthor{}
.gallery-caption{}

/* 18. PAGINATION */
.pagination{
	margin: 50px 0px;
	display: block;
	text-align: center;
}

.single-blog .pagination{
	margin-bottom: 45px;
}

.pagination a.active{
	background: #454545;
	border-color: #454545;
	color: #ffffff;
}
/* END PAGINATION */

/* 19. GALLERY */
.gallery-item{
	position: relative;
	overflow: hidden;
}

.gallery-item img{
	width: 100%;
}

.gallery-overlay{
	color: #ffffff;
	position: absolute;
	background: rgba( 0, 0, 0, 0.2 );
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	text-align: center;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.gallery-overlay i{
	font-size: 20px;
	line-height: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -10px;
}

.gallery-item:hover .gallery-overlay{
	opacity: 1;
}


/* END GALLERY */

/* 20. HORIZONTAL TABS */
.nav-tabs{
	padding: 0px 30px;
	display: inline-block;
	border-color: #eeeeee;
}

ul.nav-tabs li{
	background: #ffffff;
	margin: 0px;
	clear: none;
	padding: 0px;
}

.nav-tabs > li > a{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: none;
	text-transform: uppercase;
	color: #404040;
	padding: 10px 15px;
	font-size: 12px;
}

.nav-tabs > li > a:hover{
	color: #aaa;
	background: #ffffff;
	border: none
}
.nav-tabs > li.active > a:hover{
	border: none;
}
.nav-tabs > li.active > a{
	border: none;
}

.panel-group .panel-heading + .panel-collapse > .panel-body{
	padding: 15px 0px;
	border: none;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border: none;
	background: #ffffff;
	color: #404040;
}

.nav-tabs>li>a:after{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 5px solid #ffffff;
	background: #DA9D67;
	bottom: -8px;
	opacity: 0;
	left: 50%;
	padding: 3px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.nav-tabs>li.active>a:after,
.nav-tabs>li>a:hover:after{
	opacity: 1;
}

.tab-content{
	border: none;
	padding: 15px 0px;
	border-radius: 0px;
	background: #ffffff;
}

.panel-group .panel{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.panel-default{
	border: none;
}

.panel-default > .panel-heading{
	border-color: #eeeeee;
	background-color: #ffffff;
	padding: 0;
}
.panel-default > .panel-heading a{
	display: block;
	padding: 10px 0px;
	color: #404040;
	line-height: 25px;
	font-size: 13px;
}

.panel-default > .panel-heading a{
	background: transparent;
	color: #404040;
}

.panel-default .panel-title{
	border-bottom: 1px solid #eeeeee;
}

.panel-default .panel-title .fa{
	float: right;
	line-height: 21px;
	font-size: 21px;
}

.panel-default .panel-title a .title-active{
	border: 1px solid #999;
	width: 10px;
	height: 10px;
	float: right;
	position: relative;
	margin-top: 8px;
}

.panel-default .panel-title a .title-active:after{
	content: '';
	position: absolute;
	left: 1px;
	top: 1px;
	width: 6px;
	height: 6px;
	background: #DA9D67;
}
.panel-default .panel-title a.collapsed .title-active:after{
	content: none;
}
/* END TABS ACCORDIONS */


/* 21. ALERTS */
.alert .fa{
	margin-right: 10px;
}
.alert .close{
	text-shadow: none;
	opacity: 0.5;
	padding-top: 4px;
	right: 0px;
}
/* END ALERTS */

/* 22. PROGRESS BARS */
.progress{
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	height: 30px;
	background-color: #eeeeee;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	overflow: visible;
}

.progress i{
	margin-right: 5px;
}

.progress-bar{
	position: relative;
	padding-left: 10px;
	text-align: left;
	line-height: 30px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.progress-bar-value{
	position: absolute;
	right: 0px;
	top: -25px;
	background: #428BCA;
	font-size: 11px;
	line-height: 20px;
	padding: 0px 4px;
	border-radius: 1px;
}

.progress-bar-value:after{
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 0px;
	display: block;
	width: 0px;
	z-index: 1;
	bottom: -5px;
	left: 50%;
	color: transparent;
	border-color: #428BCA transparent;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
/* END PROGRESS BARS */

/* 23. DROPCAP */
.dropcap{
	float: left;
	font-size: 5em;
	margin: 0;
	line-height: 1;
	margin-right: 5px;
	font-weight: bold;
}
/* END DROPCAP  */

/* 24. PRELOADER */
.preloader{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: 999999;
}

.preloader .loader-inner{
	position: absolute;
	top: 50%;
	left: 50%;
}

@-webkit-keyframes ball-triangle-path-1 {
  /* line 522, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  33% {
    -webkit-transform: translate(25px, -50px);
    transform: translate(25px, -50px); }

  /* line 526, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  66% {
    -webkit-transform: translate(50px, 0px);
    transform: translate(50px, 0px); }

  /* line 530, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-1 {
  /* line 535, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  33% {
    -webkit-transform: translate(25px, -50px);
    transform: translate(25px, -50px); }

  /* line 539, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  66% {
    -webkit-transform: translate(50px, 0px);
    transform: translate(50px, 0px); }

  /* line 543, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@-webkit-keyframes ball-triangle-path-2 {
  /* line 548, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  33% {
    -webkit-transform: translate(25px, 50px);
    transform: translate(25px, 50px); }

  /* line 552, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  66% {
    -webkit-transform: translate(-25px, 50px);
    transform: translate(-25px, 50px); }

  /* line 556, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-2 {
  /* line 561, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  33% {
    -webkit-transform: translate(25px, 50px);
    transform: translate(25px, 50px); }

  /* line 565, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  66% {
    -webkit-transform: translate(-25px, 50px);
    transform: translate(-25px, 50px); }

  /* line 569, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@-webkit-keyframes ball-triangle-path-3 {
  /* line 574, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  33% {
    -webkit-transform: translate(-50px, 0px);
    transform: translate(-50px, 0px); }

  /* line 578, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  66% {
    -webkit-transform: translate(-25px, -50px);
    transform: translate(-25px, -50px); }

  /* line 582, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes ball-triangle-path-3 {
  /* line 587, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  33% {
    -webkit-transform: translate(-50px, 0px);
    transform: translate(-50px, 0px); }

  /* line 591, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  66% {
    -webkit-transform: translate(-25px, -50px);
    transform: translate(-25px, -50px); }

  /* line 595, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

/* line 599, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
.ball-triangle-path {
  position: relative;
  -webkit-transform: translate(-25px, -25px);
  -ms-transform: translate(-25px, -25px);
  transform: translate(-25px, -25px); }

/* line 604, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
.ball-triangle-path > div:nth-child(1) {
  -webkit-animation-name: ball-triangle-path-1;
  animation-name: ball-triangle-path-1;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 615, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
.ball-triangle-path > div:nth-child(2) {
  -webkit-animation-name: ball-triangle-path-2;
  animation-name: ball-triangle-path-2;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 626, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
.ball-triangle-path > div:nth-child(3) {
  -webkit-animation-name: ball-triangle-path-3;
  animation-name: ball-triangle-path-3;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 637, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
.ball-triangle-path > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #404040; 
 }

/* line 645, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
.ball-triangle-path > div:nth-of-type(1) {
  top: 50px; }

/* line 647, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
.ball-triangle-path > div:nth-of-type(2) {
  left: 25px; }

/* line 649, /Users/Connor/Repos/personal/personal-website/bower/loaders.css/loaders.css */
.ball-triangle-path > div:nth-of-type(3) {
  top: 50px;
  left: 50px; }
/* END PRELOADER */

/* 25. 404 PAGE */
.no-page{
	text-align: center;
}

.no-page .post-content{
	margin-top: 30px;
}

.no-page .blog-item-content{
	padding: 55px;
}

.no-page h1{
	font-size: 290px;
	line-height: 168px;
	margin: 0px 0px 55px 0px;
}

@media only screen and ( max-width: 600px ){
	.no-page .blog-item-content{
		padding: 30px;
	}	
	.no-page h1{
		font-size: 95px;
		line-height: 60px;
		margin: 0px 0px 30px 0px;
	}

	.no-page p{
		text-align: left;
	}

	.no-page h3{
		font-size: 15px
	}
}

.sticky-icon{
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	font-size: 94%;
}
/* END 404 PAGE */

/* 26. CAROUSEL DOTS */
.owl-theme .owl-controls{
	margin: 0px;
	text-align: center;
}
.owl-nav div{
	width: 20px;
	height: 20px;
	border: 1px solid #404040;
	position: relative;
	display: inline-block;
	margin: 0px 3px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
}

.owl-nav div:hover{
	color: #DA9D67;
}

.featured-slider .owl-nav div{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	border: 1px solid #ffffff;
	border-bottom: 4px double #ffffff;
	width: 30px;
	height: 30px;
	line-height: 25px;
	font-size: 15px;
	color: #ffffff;
	opacity: 0;
}

@media only screen and ( max-width: 450px ){
	.featured-slider .owl-nav div{
		top: 80%;
	}
}

.featured-slider:hover .owl-nav div{
	opacity: 1;
}

.featured-slider .owl-nav div:hover{
	color: #ffffff;
}

.featured-slider .owl-nav .owl-prev{
	left: 15px;
}

.featured-slider .owl-nav .owl-next{
	right: 15px;
}
/* END CAROUSEL DOTS */

/* 27. SEARCH OVERLAY */
.search-overlay{
	display: none;
	position: fixed;
	z-index: 999;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.search-overlay-bg{
	background: rgba( 0, 0, 0, 0.8 );
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;	
}

.search-overlay .search-box{
	background: #ffffff;
	width: 800px;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	max-width: 100%;
	padding: 50px;
	text-align: center;
}

.search-overlay .linetime-form{
	margin-top: 30px;
}

.small-screens{
	display: none;
	line-height: 51px;
}

@media only screen and ( max-width: 768px ){
	.small-screens{
		display: block;
	}
}
/* END SEARCH OVERLAY */

/* 28. FEATURED SLIDER */
.featured-item{
	height: 630px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 50px 0px;
}

.featured-caption{
	width: 400px;
	max-width: 100%;
	background: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	padding: 25px;
	box-shadow: 1px 1px 2px 0px rgba( 0, 0, 0, 0.12 );
}

.featured-title{
	margin: 30px 0px 15px 0px;
	display: block;
}
/* END FEATURED SLIDER */

/* 29. COPYRIGHTS */
.copyright p,
.copyright ul{
	margin: 0px;
}

.copyright{
	padding: 20px 0px;
	background: #ffffff;
}
/* END COPYRIGHTS */

/* 30. INSTAGRAM */
.instagram-feed{
	padding-top: 20px;
	text-align: center;
	background: #ffffff
}

.instagram-feed p{
	margin-bottom: 20px;
}

.instagram-image{
	float: left;
}

.instagram-image img{
	opacity: 0.8;
}

.instagram-image img:hover{
	opacity: 1;
}
/*31. Client Edit*/
blockquote{
	border-left: 4px solid #ccc;
}
blockquote strong{
	display: inline;
    margin-right: 5px;
}
blockquote p{
	font-size: 14px;
	display: inline; 	
}
blockquote:before, blockquote:after{display: none}
/* END INSTAGRAM 

/*DSV CUSTOM*/
@media(max-width: 768px){
  .featured-slider.owl-carousel.owl-theme{
      display: none;
  }  
}